//=========================================================
// Base Styles
//=========================================================

* {	
	box-sizing:  border-box;
}
main {
	background:url('../img/background.png');
	height: calc(100vh - 10px);
	background-repeat: no-repeat;
    background-size: cover;
}