//=========================================================
// Base Styles
//=========================================================
 body, html, .wrapper {
	height: 100%;

}



* {	
	box-sizing:  border-box;
}

.background {
	background-color: $westar;

}

.bg {
	background-image: url('../img/background.png'); 	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	
}

body {
	font-family: $font-family--primary;
}


img {
	max-width: 100%;
}



.whiteout{
	background-color:rgba(223, 220, 217, 0.3);
	height: calc(100vh - 0px);
	
}

.overlay-whiteout{
	background-color:rgba(223, 220, 217, 0.904);
	height: calc(100vh - 0px);
	
}

.overlay {
	background-color: $westar;
	height: auto;
	width:100%;
}




.about {
	line-height: 30px;
	height: calc(100vh - 0px);
	
}


//Fade in Animation for the homepage when you click into it.

body {
	animation-name: fadein;
	animation-duration: .5s;

}
@keyframes fadein {
	from {opacity:0;}
	to {opacity:1;}
}