//=========================================================
// Base Styles
//=========================================================

body, html, .wrapper {
	height: 100%;
}


* {	
	box-sizing:  border-box;
}



.bg {
	background-image: url('../img/background.png'); 	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	

}


body {
	font-family: $font-family--primary;
}






.container {
	padding: 10px;
}