#menu-button {
   
   
    border: solid 3px $mojo;
    width:50px;
    border-radius:10px; 
    cursor: pointer;
    transition-property: border;
    transition-duration: 2ms;
  
    
    &:hover {
        border: solid 3px #23588D;
      
    }

    img {
        padding:10px;
    }   

    @include mq(medium){
        display: none;
    }
}

.homepage-button {
    align-self: flex-end;
}