#hamburger {
    height:40px;
    width:40px;
    color:  $mojo;
    fill: currentColor;


    &:hover {
        color: #23588D;
        fill: currentColor;
      
    }
}



#menu-button {
   
    transition-property: color;
    transition-duration: 2ms;
    align-self: flex-end;
    cursor: pointer;
  
    
    &:hover {
       // border: solid 3px #23588D;
       fill: currentColor;
      
    }
  

    @include mq(medium){
        display: none;
    }
}

