.contactInfo{
    @include mq(medium){
        @include flexBox(flex, row, nowrap){
            justify-content: space-between;
        }
    }

    @include mq(large){
        @include flexBox(flex, row, nowrap){
            justify-content: space-between;
        }
    }
    @include mq(xlarge){
        @include flexBox(flex, row, nowrap){
            justify-content: space-between;
        }
    }
    @include mq(xxlarge){
        @include flexBox(flex, row, nowrap){
            justify-content: space-between;
        }
    }
}

.input-wrapper:first-child{
    margin-right:10px;
}


input[type="text"], input[type="email"]{
    width:100%;
    margin:10px 0px 10px 0;
    outline: none;
    padding: 10px  10px 10px 30px;           
    border: none;
    transition-property: border;
    transition-duration: .3s;


    &:focus {
        border-bottom:1px solid $mojo;
    }  
}


textarea {
    width:100%;
    margin:10px 0px;
    border-radius: 5px;  
    padding:10px;
    border:none;
    height:250px;
    background-color: $white;
    outline: none;
    transition-property: border;
    transition-duration: .5s;
    &:focus {
        border-bottom:1px solid $mojo;
    }
}

[type='placeholder'] {
    padding-left:20px;
}

[type='submit'] {
    display:block;
    border-radius: 5px;
    padding:10px;
    width:100%;
    background-color: $mojo;
    color: $white;
    border:none;

    &:hover {
        background-color: $white;
        color: $mojo;
        border:none;

        

    }

}



