//========================================
// Grid
//========================================

.container {
	
     font-family: $font-family--primary;
     width:100%;

}

.portfolio {    
    margin:0 auto;
    width:95%;
}

.bio, .contact-info{
    padding: 10px;
    @include mq(large){
        @include flexBox(flex, row, wrap){
            justify-content: space-between;
        }
    }
    @include mq(xlarge){
        @include flexBox(flex, row, wrap){
            justify-content: space-between;
        }
    }
    @include mq(xxlarge){
        @include flexBox(flex, row, wrap) {
            justify-content: space-between;
        }
    }

    &-text, .contact-text {
        @include mq(large){
            width:50%;
        }
        @include mq(xlarge){
            width:50%;
        }
        @include mq(xxlarge){
            width:50%;
        }
    }
}




.skills, form { 

    @include mq(large){
        width: 49%;      
    }
    @include mq(xlarge){
        width: 49%;
        margin-left:10px;
    }
     @include mq(xxlarge){
        width: 45%;
        margin-left:10px;
    }
}


