.img {
    max-width: 100%; 
  
}

//Portfolio

.project-wrapper {
    width:90%;
    margin:0 auto;

    @include mq(small){
        @include flexBox(flex, row, wrap);
        width:95%;
        margin:0 auto;
    }
    @include mq(medium){
        @include flexBox(flex, row, wrap);
        width:95%;
        margin:0 auto;
    }

    @include mq(large){
        @include flexBox(flex, row, wrap);
        width:95%;
        margin:0 auto;
    }
    
    @include mq(xlarge){
        @include flexBox(flex, row, wrap);
        width:95%;
        margin:0 auto;
    }

    @include mq(xxlarge){
        @include flexBox(flex, row, wrap);
        width:95%;
        margin:0 auto;      
    }
}
.project {
    position: relative;
    margin:10px 0;
    
    @include mq(small) {
        width:45%;
        margin:10px;
    }
    @include mq(medium){
        width: 45%;   
        margin:10px;        
    }
    @include mq(large){
        width: 45%;
        margin:10px;
    }
    @include mq(xlarge){
        width: 45%;
        margin:10px;
    }   
    @include mq(xxlarge){
        width: 45%;
        margin:10px;
    }
   
   
     &-info {
        @include text(13px, $white, null); 
         background-color: rgba(192, 74, 53, 0.93);
         height:100%;
         width:100%;
         max-width: 100%;
         padding:10px;    
         position: absolute;
         z-index: 1;
         top:0px;
         left:0px;
         right:0px;
         bottom:0px;
         opacity: 0;
         transition-property: opacity; 
         transition-duration: .5s;
         transition-timing-function: ease-in-out;
        
         @include mq(xsmall){
            @include text(12px, $white, null);  
         } 

        @include mq(small){
            @include text(12px, $white, null);           
        }
        @include mq(medium){
            @include text(14px, $white, null);     
        }
        @include mq(large){
            @include text(20px);
            padding:20px;
        }

        @include mq(xlarge){
            @include text(25px);
            padding:20px;
        }
        
        @include mq(xxlarge){
            @include text(35px);          
            padding:20px;
        }
           
     }

     &-info:hover {
        opacity: 1;
     
     }

     &-title {
         border-bottom: 1px solid $white;
         width:100%;
         padding-bottom:5px;
     }

     &-text {
        line-height: 20px;
        @include mq(xsmall){         
            line-height: 30px;
        }
        @include mq(small){
            line-height: 20px;
        }
        @include mq(medium){
            line-height: 25px;
        }
        @include mq(large){
            line-height: 60px;
        }
        @include mq(xlarge){
            line-height: 50px;
        }

        @include mq(xxlarge){
            line-height: 50px;
        }
        
     }

     a {
         border: 1px solid $white;
         border-radius:10px;
         padding:10px 30px;
         text-decoration: none;

         @include mq(small){
            margin-top: 10px;
            padding:10px 30px;
        }

         &:link {
             color:$white;           
             transition-property: color, backgroundcolor;
             transition-duration: 1s;

         }

         &:visited {
             color: $white;
         }

         &:hover{
             background-color: $white;
             color: $mojo;
         }
     }

     .links {
        @include flexBox(flex, row, nowrap){
            justify-content: space-around;   
            margin-top: 30px;

            @include mq(small){
                margin-top: 10px;
            }

            @include mq(medium){
                margin-top: 20px;
            }
        }

       
      
     }


}

.social {
    img {
        width: 50px;
        height:50px;
        margin-right:10px;

    }
}


.input-wrapper {
    width:100%;
    position: relative;
  
}


.icon {
    position: absolute; 
    color: $mojo;
    top:20px;
    left:5px;
             
}

.icon:focus {
    color: $blueWhale;
}





