header {
    
    @include flexBox(flex, column, nowrap);  
     
}

#menu 
    ul {
        list-style-type: none;
        margin:0px;
        padding:0px;

        li {
            padding:10px;
            text-align: center;
        }      
    a {
        text-decoration: none;
        width: 100%;
        display: inline-block;
        
        &:link {
            @include text(  16px , $color: $mortar, $weight: none);
        
        }        
        &:visited {
            @include text(  16px , $color: $mortar, $weight: none);
        }
        &:hover {
            @include text(  16px , $color: $mojo, $weight: bold);
        }
    }   
}
