header {
    
    @include flexBox(flex, column, nowrap);  
  
    @include mq(medium){
        @include flexBox(flex, row, nowrap) {
            justify-content: space-between;
        }  
    }
     
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color:$white;

  }

 .sticky + .bg {
    padding-top: 150px;
  }

.homepage-header{   
    @include mq(medium){
        @include flexBox(flex, row, nowrap) {
            justify-content: flex-end;
        }  
    }
}

.homepage-logo {
    @include flexBox(flex, row, nowrap) {
        justify-content: flex-end;
    }
}

.header-logo {
    @include flexBox(flex, row, nowrap){
        justify-content: space-between;
    }
}


#menu {
    display:none;
    
    @include mq(medium) {
        display: block;
    }

    ul {
        list-style-type: none;
        margin:0px;
        padding:0px;

        @include mq(medium) {
            @include flexBox(flex, row, nowrap);
        }

        li {
            padding:10px;
            text-align: center;
        }      
            a {
                text-decoration: none;
            
                width: 100%;
                display: inline-block;

                &:link {
                    @include text(  20px , $color: $mortar, $weight: none);
                
                }        
                &:visited {
                    @include text(  20px , $color: $mortar, $weight: none);
                }
                &:hover {
                    @include text(  20px , $color: $mojo, $weight: none);
                }
            }   
    }
}

