header {

    .menu {
        display:none;
    }
   
    @include mq(medium){
        @include flexBox(flex, row, nowrap);
        justify-content: space-between;   
    }
}


.logo {
    
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}
.title {
    @include mq(medium){
        @include flexBox(flex, column, nowrap);

    }
}

header {
    @include mq(medium){
        @include flexBox(flex, row, wrap);

        
    }
    

}

.header-homepage {
    @include flexBox(flex, row, wrap);
    justify-content: flex-end;
    
}




ul {
	list-style-type: none;
	padding:0;
	@include flexBox(flex, row, nowrap) {
        justify-content: space-between;
            @include mq(medium){
                justify-content: flex-end;              

            }

            li {
                @include mq(medium){
                    margin-left:10px;


                }
            }

    }


}

.menu {
    a {
        text-decoration: none;

        &:link {
            @include text(  16px , $color: $mortar, $weight: none);
     
        }

        
        &:visited {
            
            @include text(  16px , $color: $mortar, $weight: none);

        }


        &:hover {
            @include text(  16px , $color: $mojo, $weight: bold);
     
        }

    }
   
}
