.homepage-title {
    
   padding-top:80px;
   text-align: center;
}


.title {
    @include flexBox(flex, row, nowrap){
     @include text(20px, $mortar, bold);
        font-family: $font-family--primary;
    } 
}
.logo {
    text-decoration: none;
}

#header {

  

    &-name {      
       
            @include text(25px, $mojo);
            padding-top:20px;
             font-family: $font-family--secondary;
             display: inline-block;
     
    }

    &-title {
        
            display:none;
            @include text(20px, $mortar);
             font-family: $font-family--primary;
             
      

    }

}





h1 { // my name
   
    @include text( 55px, $mojo);
    font-family: $font-family--secondary;
    padding:0px;
    margin:0px;

}

h2 { // my job title
    margin:0px;
    @include text(22px, $blueWhale);
    font-family: $font-family--primary;

 
}


.credit {
	@include text(12px, $white, $font-weight--italic);
	margin:0;
	padding:0;
    position:absolute;
    right: 5px;
    bottom: -32px;
    display: inline-block;


    @include mq(medium) {
        left: calc(100vh -10px);
        top: 750px;
    }

	
}

p {
	font-family: $font-family--primary;
	@include text(16px, $font-weight--light); 
}

