
h1 { // my name
   
    @include text( 50px, $mojo);
    font-family: $font-family--secondary;
    padding:0px;
    margin:0px;

    @include mq(xsmall) {
        @include text(70px); 
    }
    @include mq(small){
        @include text(80px); 
    }
    @include mq(medium){
        @include text(150px); 
    }
    @include mq(large){
        @include text(150px); 
    }
    @include mq(xlarge){
        @include text(150px); 
    }
    @include mq(xxlarge){
        @include text(150px); 
    }
}

h2 { // my job title
    margin:0px;
    @include text(22px, $blueWhale, $font-weight--light);
    font-family: $font-family--primary;
   
        @include mq(xsmall) {
            @include text(25px);    
        }
        @include mq(medium){
            padding-left:100px;
            @include text(40px, null, $font-weight--medium);    
        }            
        @include mq(large){
            padding-left:100px;
            @include text(40px, null, $font-weight--medium);    
        }
        @include mq(xlarge){
            padding-left:100px;
            @include text(40px, null, $font-weight--medium);    
        }
        @include mq(xxlarge){
            padding-left:100px;
            @include text(40px, null, $font-weight--medium);    
        } 
}


h3 {
    @include text(30px, null, $font-weight--light) {
        margin:0px;
        padding:30px 10px;
    }
}


.homepage-title {
    
   padding-top:50px;
   text-align: center;   

   @include mq(medium){
       text-align: initial;
       padding-left:40px;
       padding-top:35px;
   }
   @include mq(large){
        text-align: initial;
        padding-left:40px;
        padding-top:35px;
    }
    @include mq(xlarge){
        text-align: initial;
        padding-left:40px;
        padding-top:35px;
    }
    @include mq(xxlarge){
        text-align: initial;
        padding-left:40px;
        padding-top:35px;
    }
   
}


.title {
    @include flexBox(flex, row, nowrap){
     @include text(20px, $mortar, bold);
        font-family: $font-family--primary;
    } 
}
.logo {
    text-decoration: none;
}

#header {
    &-name {      
       
            @include text(25px, $mojo);
            //padding-top:20px;
             font-family: $font-family--secondary;
             display: inline-block;
            @include mq(medium) {
                padding-top:10px;
            }
    }

    &-title {
        
            display:none;
            @include text(20px, $mortar);
             font-family: $font-family--primary;
             
      

    }

}






.credit {
	@include text(15px, $white, $font-weight--light);
	margin: 0;
	padding: 0;
    position: absolute;
    right: 5px;
    bottom: -32px;
    display: inline-block;
    text-decoration: none;
    margin:0px;
    padding:0px;
    
    &:link {
        @include text(15px, $mojo, $font-weight--light);
    }
    &:hover {
        @include text(15px, $mojo, $font-weight--light);
    }


    @include mq(medium) {
       
        bottom:0px;
    }

	
}

p {
	font-family: $font-family--primary;
	@include text(16px, null, $font-weight--light); 
}

h4 {
    margin-bottom: 0px;
    text-decoration: underline;
}

.skills ul {
    padding:0px;
    margin-top:0px;
    @include flexBox(flex, row, wrap);   

    li {
       list-style-type: none; 
       padding-left:10px;
    }
}

.error {
    color: $mojo;
	@include text(10px, null, $font-weight--light); 
}