.title{
    margin-top:50px;
   
}


h1 { // my name
    @include text(60px, $mojo);
    font-family: $font-family--secondary;
    padding:0px;
    margin:0px;

    @include mq(medium){
   
        @include text( 100px, $mojo);

	}

}

h2 { // my job title
    margin:0px;
    @include text(24px, $blueWhale);
    font-family: $font-family--primary;

}


.credit {
	@include text(10px, $white, $font-weight--italic);
	margin:0;
	padding:0;
    position:relative;
    left: 130px;
    top: 500px;

	
}

p {
	font-family: $font-family--primary;
	@include text(16px, $font-weight--light); 
}

