%clearfix:after {
	content: "";
	display: table;
	clear: both;

}



%container {
		width: 100%;
		margin: 0 auto;
		padding:10px;		
}

%container-nopadding {
	width: 100%;
	margin: 0 auto;
}

%nopadding {
	padding:0px;
}


%link {
	@include text(  20px , $color: $mortar, $weight: $font-weight--light);

}

%row {
	@include flexBox(flex, row, nowrap);

}

%errorMessage {	
    color: $red;	
	font-size: 12px;    
	display: none;
	position: absolute;
}